


@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
     font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 500;
     font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




*, 
*::before,
*::after {
    box-sizing: border-box;
}



body {

    margin: 0;
    font-family: TT Lakes;
    background-color: gainsboro;

 
}






.page {
     max-width: 1120px;
     margin: 0 auto;
     background-color: whitesmoke;
     min-height: 535px;
   
    

}





img {
    display: block;
    max-width: 100%;
    height: auto;
}



header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    max-height: 88px;
    padding: 10px;
    gap: 16px; 
    align-items: center;
    position: relative;

    box-shadow: 0  2px 6px rgba(0, 255, 255, 0.1);
    z-index: 10;
    position: relative;
}

header {
    position: relative;
}


header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 15px;
    background: linear-gradient(to bottom, rgba( 0,255,255,0.1), transparent);
}


.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.group {
    margin-left: 16px;
}


header button {
    background: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: all 0.8s;
    box-shadow: 0 6px 0  white;
}

header button:active {
    transform: translateY(4px);
        box-shadow: 0 0 0 white;
}



 

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 0;
}

.services-title {
    display: flex;
    align-items: center;
    gap: 15px;
}






.subtitle {
 margin: 0;
 font-weight: 700;
 font-size: 26px;
   
    
}

.left {
  width: 6px;
  height: 35px;
  background-color: aqua;
  border-radius: 0 8px 8px 0;
  margin-left: -15px;
}




.top-actions {
   display: none;
   
}


.action {
    display: flex;
    align-items: center;
    gap: 8px;

    background: none;
    border: none;
    cursor: pointer;
    font: inherit;

    transition: transform 0.15s ease;
    
}

.action:active {
    transform: translateY(2px);
}



.menu-top {
    position: relative;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    padding: 10px 16px 12px;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;

 
}


.menu-top {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    
}

.reviews-button {
    flex-basis: 100%;
}


.menu-top:-webkit-scrollbar {
    display: none;
    
}

.services-menu {
   display: block;
    flex-wrap: wrap;
    gap: 20px;
}





.menu-top button {

     appearance: none;
-webkit-appearance: none;
    
    height: 40px;
    padding: 0px 18px;
    border: 2px solid whitesmoke;
    font-size: 14px;
    border-radius: 6px;
    background: whitesmoke;
    font-weight: 500;
    
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    font: inherit;
}
 
   .menu-top {
   appearance: none;
--webkit-appearance: none;
   }

 .menu-top button.active {
    background: white;
    border: 2px solid aqua;
    
}



.menu-top button:hover{
    background: white;
    border: 2px solid aqua;
   
}


.menu-top button:active {
    box-shadow: none;
    outline: none;
    background: inherit;

}

.menu-top:hover button.active {
    background: whitesmoke;
    border: 2px solid transparent;
}



 .menu-top button:focus-visible{
  outline: none; 
  
}









.container {
   display: flex;
   flex-direction: column;
   padding-top: 15px;
   min-height: 535px;
  
}

.left-content {
   
    max-width: 50%;
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
   
  
}

   
.right-picture {
    max-width: 50%;
    height: auto;
    align-items: center;
    padding: 15px;
}






.read-more {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    
    
}



.read-more__btn:hover{
    color: skyblue;
   
}
   
.read-more__btn::after {
    color: skyblue;
    content: " "; 
}

.right-picture img {
   
    border-radius: 5px;
}



.header-divider {
    width: 2px;
    height: 32px;
    background-color: gainsboro;
    border-radius: 2px;
   }
    
   .divider--after-burger {
    display: none;

   }

   .divider--after-logo {
    display: block;
   }



    
@media (max-width: 320px){

   .page {
    min-height: 597px;
   }

    h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    header  img {
        width: 32px;
        height: 32px;
    }
      

    header {
        height: 88px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }


    .group {
       
        position: absolute;
        width: 75PX;
        height: 50px;
        bottom: 12.5%;
        
    }


    .services {
        margin: 10px;
    }

   
}


    
    
@media (min-width: 768px) {

    .container {
        flex-direction: row;
    }

    .left-content,
    .right-picture {
        max-width: 50%;
    }

    .header__center {
        display: flex;
    }

    .divider--contacts {
        display: block;
    }

    .divider--after-burger {
        display: block;
    }

    .divider--after-logo {
        display: none;
    }

}
    




@media (max-width: 767px) {

   .container {
    flex-direction: column;
   }

   .left-content,
   .right-picture {
    max-width: 100%;
   }


    .header__center {
        display: none;
    }

    header {
        position: relative;
    }


    .group {
       
        height: 40px;
        left: 28%;
        bottom: 14%;
        margin: 0;
    }

    .header__right {
        margin-left: auto;
    }

    .header__center {
    display: none;

   }
   
   .divider--contacts {
    display: none;
   }
   

   .divider--after-burger {
    display: none;
   }

   .divider--after-logo {
    display: block;
   }
    
}


@media(min-width: 900px) {
    .header__center, .header__left{
        display: none;
    }

    .header__right {
        display: flex;
       
      
       
    }

    .header__right img {
        width: 40px;
        height: 40px;
    }

    header {
        display: none;
    }


    
      


    button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    
    }


    .top-actions {
        display: flex;
        align-items: center;
        gap: 30px;
        font-weight: 500;
    }



    
    }

    
   
    

