@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: wrap;
}


@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 500;
     font-style: normal;
    font-display: wrap;
}



@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
     font-style: normal;
    font-display: wrap;
}


body {
 background-color: whitesmok;
 max-width: 1400p;
 
 border: 1px solid gray;

 
}

header {

    background-color: white;
      
}

h1 {
    width: 350px;
    height: 40px;
    margin: 30px;
    margin-left: 5px;
    border-left: rgba(65,246,215,1);
    padding-left: 5px;
    font-family: TT Lakes;
    font-weight: 700;
}








.slide-menu {
    display: flex;
    
    grid-template-columns: 1;
    color: black;
    gap: 35px;
    margin: 10px;
    overflow-y: scroll;
    
}


button {
    border: 1px solid skyblue;
    text-align: center;
    border-radius: 5px;
    width: 246px;
    height: 40px;
    overflow-y: scroll;

    
}



.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
  
}

.left-content {
    width: 50%;
    margin: 15px;
    font-family: TT Lakes;
    font-weight: 400;

}
   
.right-picture {
margin: 22px;
}


@media(max-width:320px) 
.slide-menu, .container{
    grid-template-columns: 
    repeat(, 1fr);

   