@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: wrap;
}


@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 500;
     font-style: normal;
    font-display: wrap;
}



@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
     font-style: normal;
    font-display: wrap;
}







*, *::before, *::after {
    box-sizing: border-box;
}

body {

 
        margin: 0;
        padding: 0;
        font-family: TT Lakes;
        background-color: white;

 
}






.page {
     max-width: 1120px;
     margin: 0 auto;
     padding: 0px;
     background-color: whitesmoke;
     min-height: 535px;


}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



header {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    max-height: 88px;
    padding: 10px;
    gap: 16px; 
    align-items: center;
    overflow-x: auto;

}







h1 {
    font-family: TT Lakes;
    font-weight: 700;
    font-size: 24px;
    margin-left: 15px;
    border-left: 5px solid aqua;
    
}





.read-more {
    font-family: TT Lakes;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    flex-direction: row-reverse;
    
}



.read-more__btn:hover{
    color: skyblue;
   
}
.arrow {
    width: 50px;
    height: 50px;
    color: aqua;
    margin-left: 5px;
    vertical-align: middle;
} 


.services {
    font-family: TT Lakes;
    font-weight: 500;
    display: flex;
    height: 50px;
    gap: 5px;
    font-size: 16px;
    padding: 6px 16px 12px;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    justify-content: center;
}


.services::-webkit-scrollbar {
    display: none;
}

button:focus {
  border: 1px solid skyblue;
  outline: none; 
}


.services {
    position: relative;

}

.services::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to left, whitesmoke, transparent);
    pointer-events: none;
}


    

.services button {

     appearance: none;
--webkit-appearance: none;
   display: flex;
    height: 40px;

    justify-content: center;
    padding: 0px 18px;
    border: 1px solid whitesmoke;
    align-items: center;
    font-size: 14px;
    border-radius: 6px;
    background: whitesmoke;
    font-family: TT Lakes;
    font-weight: 500;
    
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    line-height: 1;
    font: inherit;
}
 
appearance: none;
--webkit-appearance: none;



 .services button:first-child {
    background: white;
    border: 1px solid aqua;
    color: #1B1C21;
}



.services button:hover {
    background: white;
    border: 2px solid aqua;
    color: #1B1C21;
}


.services button:active {
    transform: scale(0.97);
}


.container {
   display: flex;
   flex-wrap: wrap;
   padding-top: 15px;
   min-height: 535px;
  
}

.left-content {
   
    max-width: 50%;
    padding: 15px;
    font-family: TT Lakes;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid gra;
  
}

   
.right-picture {
    max-width: 50%;
    height: auto;
    align-items: center;
    padding: 15px;
}


    
@media (max-width: 320px){

   .page {
    min-height: 597px;
   }

    h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    header  img {
        width: 32px;
        height: 32px;
    }
      

    header {
        height: 88px;
        padding: 0 16px;
        display: flex;
        align-items: center;
    }


    .services {
        margin: 10px;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
       
    }

    

    .left-content, .right-picture {
        max-width: 100%;
    }

    .page {
        min-height: 504px;
    }
}


.right-picture img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}


   

