


@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
     font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 500;
     font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




*, 
*::before,
*::after {
    box-sizing: border-box;
}



body {

    margin: 0;
    font-family: TT Lakes;
    background-color: gainsboro;

 
}






.page {
     max-width: 1120px;
     margin: 0 auto;
     background-color: whitesmoke;
     min-height: 535px;


}





img {
    display: block;
    max-width: 100%;
    height: auto;
}



header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    max-height: 88px;
    padding: 10px;
    gap: 16px; 
    align-items: center;
    overflow-x: auto;
    position: relative;

}



.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.group {
    margin-left: 16px;
}


header button {
    background: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: all 0.8s;
    box-shadow: 0 6px 0 white;
}

header button:active {
    transform: translateY(4px);
        box-shadow: 0 0 0 white;
}



 







h1 {
   
    font-weight: 700;
    font-size: 24px;
    padding-left: 15px;
    border-left: 5px solid aqua;
    
}




.services {
    
    font-weight: 500;
    display: flex;
    height: 50px;
    gap: 5px;
    font-size: 16px;
    padding: 6px 16px 12px;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
 
}


.services::-webkit-scrollbar {
    display: none;
    
}



.services button {

     appearance: none;
-webkit-appearance: none;
    
    height: 40px;
    padding: 0px 18px;
    border: 1px solid whitesmoke;
    font-size: 14px;
    border-radius: 6px;
    background: whitesmoke;
    font-weight: 500;
    
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    font: inherit;
}
 

   appearance: none;
--webkit-appearance: none;


 .services button:first-child {
    background: white;
    border: 1px solid aqua;
    
}



.services button:hover{
    background: white;
    border: 2px solid aqua;
   
}


.services button:active {
    box-shadow: none;
    outline: none;
    background: inherit;

}




 .services button:focus-visible{
  outline: none; 
  
}


.services {
    position: relative;

}



.container {
   display: flex;
   flex-wrap: wrap;
   padding-top: 15px;
   min-height: 535px;
  
}

.left-content {
   
    max-width: 50%;
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
   
  
}

   
.right-picture {
    max-width: 50%;
    height: auto;
    align-items: center;
    padding: 15px;
}





.read-more {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    
    
}



.read-more__btn:hover{
    color: skyblue;
   
}
   
.read-more__btn::after {
    color: skyblue;
    content: " "; 
}

.right-picture img {
   
    border-radius: 5px;
}


    
@media (max-width: 320px){

   .page {
    min-height: 597px;
   }

    h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    header  img {
        width: 32px;
        height: 32px;
    }
      

    header {
        height: 88px;
        padding: 0 16px;
        display: flex;
        align-items: center;

    }


    .group {
       
        position: absolute;
        width: 75PX;
        height: 50px;
        bottom: 12.5%;
        
    }


    .services {
        margin: 10px;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
       
    }

    

    .left-content, .right-picture {
        max-width: 100%;
    }

    .page {
        min-height: 504px;
    }
}



@media (max-width: 767px) {
    .header__center {
        display: none;
    }

    header {
        position: relative;
    }


    .group {
        position: absolute;
        left: 28%;
        bottom: 14%;
        margin: 0;
    }

    .header__right {
        margin-left: auto;
    }