@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: wrap;
}


@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 500;
     font-style: normal;
    font-display: wrap;
}



@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
     font-style: normal;
    font-display: wrap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
 max-width: 320px;
 max-height: 597px;
 box-sizing: border-box;
 background-color: whitesmoke;
 
 

 
}




header {

    background-color: white;
    display: flex;
    width: 320px; 
    height: 88px;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 30px;
    overflow-x: scroll;


}




.title {
    font-family: TT Lakes;
    font-weight: 700;
    width: 304px;
    height: 40px;
    font-size: 24px;
    margin: 5px;
}









.slide-menu {
    display: flex;
    gap: 35px;
    margin: 10px;
    overflow-y: scroll; 
    outline: none;  
    
}

button:focus {
  border-color: skyblue;
  outline: none;
}






.button1 {
    width: 246px;
    height: 40px;
   
}

span {
    width: 220px;
    height: 24px;
}


.button2 {
    width: 258px;
    height: 40px;
}


.button3 {
    width: 143px;
    height: 40px;
}

.button4 {
    width: 172px;
    height: 40px;
}
    

button {
    background-color: white;
    font-family: TT Lakes;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
}


.container {
    display: flex;
   grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    width: 320px;
    height: 322px;
   
    padding-top: 5px;
  
}

.left-content {
   width: 280px;
   height: 90px;
    font-family: TT Lakes;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    overflow-x: scroll;
    margin: 16px;

}


   
.right-picture {
box-sizing: border-box;
}


@media(max-width:320px) 
.container {
    grid-template-columns: 
    repeat(, 1fr);

}


@media(max-width:320px)
header {
    display: flex;
    flex-wrap: wrap;
    
}   

